#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"

      hml: homerow_mods_left {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS_LEFT";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
          hold-trigger-key-positions = <7 8 9 10 11 12 13 21 22 23 24 25 26 27 39 40 41 42 43 44 45 54 55 56 57 58 59 71 72 73 74 75 37 38 53 68 69 70>;
      };

      hmr: homerow_mods_right {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS_RIGHT";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
          hold-trigger-key-positions = <0 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33 34 46 47 48 49 50 51 60 61 62 63 64 35 36 52 65 66 67>;
      };

      esc_ctrl: esc_ctrl {
          compatible = "zmk,behavior-hold-tap";
          label = "ESC_CTRL";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
    };

  keymap {
    compatible = "zmk,keymap";

    /*
     * Layer 0: Base (Default)
     *
     *        ┌────┬────┬────┬────┬────┬────┬────┐                           ┌────┬────┬────┬────┬────┬────┬────┐
     *        │ =  │ 1  │ 2  │ 3  │ 4  │ 5  │TG 1│                           │MO 3│ 6  │ 7  │ 8  │ 9  │ 0  │ -  │
     *        ├────┼────┼────┼────┼────┼────┼────┤                           ├────┼────┼────┼────┼────┼────┼────┤
     *        │TAB │ Q  │ W  │ E  │ R  │ T  │    │                           │ C← │ Y  │ U  │ I  │ O  │ P  │ \  │
     *        ├────┼────┼────┼────┼────┼────┼────┤                           ├────┼────┼────┼────┼────┼────┼────┤
     *        │ESC │ A  │ S  │ D  │ F  │ G  │C-A↵│                           │ C→ │ H  │ J  │ K  │ L  │ ;  │ '  │
     *        ├────┼────┼────┼────┼────┼────┼────┤                           ├────┼────┼────┼────┼────┼────┼────┤
     *        │LSFT│ Z  │ X  │ C  │ V  │ B  │    │                           │    │ N  │ M  │ ,  │ .  │ /  │RSFT│
     *        ├────┼────┼────┼────┼────┼────┴────┘                           └────┴────┼────┼────┼────┼────┼────┤
     *        │MO 2│ `  │CAPS│ ←  │ →  │                                               │ ↑  │ ↓  │ [  │ ]  │MO 2│
     *        └────┴────┴────┴────┴────┘                                               └────┴────┴────┴────┴────┘
     *
     *                                           ┌────┬────┐      ┌────┬────┐
     *                                           │LGUI│LALT│      │RCTL│RGUI│
     *                                           └────┴────┘      └────┴────┘
     *                                      ┌────┬────┐┌────┐     ┌────┐┌────┬────┐
     *                                      │    │    ││HOME│     │PGUP││    │    │
     *                                      │ SPC│MO 2│├────┤     ├────┤│BSPC│ ENT│
     *                                      │    │    ││ END│     │PGDN││    │    │
     *                                      └────┴────┘└────┘     └────┘└────┴────┘
     */
    default_layer {
      display-name = "Base";
      bindings = <
        &kp EQUAL &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &tog 1                                                           &mo 3 &kp N6 &kp N7 &kp N8    &kp N9   &kp N0   &kp MINUS
        &kp TAB   &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                            &kp LC(LEFT) &kp Y  &kp U  &kp I     &kp O    &kp P    &kp BSLH
        &esc_ctrl LCTRL ESC &hml LCTRL A &hml LALT S &hml LGUI D &hml LSHFT F &kp G  &kp LC(LA(RET))           &kp LGUI   &kp LALT &kp RCTRL &kp RGUI            &kp LC(RIGHT) &kp H  &hmr RSHFT J &hmr RGUI K &hmr RALT L &hmr RCTRL SEMI &kp SQT
        &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                            &kp HOME &kp PG_UP                           &kp N  &kp M  &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
        &mo 2     &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                &kp SPACE &mo 2  &kp END  &kp PG_DN &kp BSPC  &kp ENTER              &kp UP &kp DOWN  &kp LBKT &kp RBKT &mo 2
      >;
    };

    /*
     * Layer 1: Keypad
     *
     *        ┌────┬────┬────┬────┬────┬────┬────┐               ┌────┬────┬────┬────┬────┬────┬────┐
     *        │ =  │ 1  │ 2  │ 3  │ 4  │ 5  │▼▼▼ │               │MO 3│ 6  │NUM │ =  │ /  │ *  │ -  │
     *        ├────┼────┼────┼────┼────┼────┼────┤               ├────┼────┼────┼────┼────┼────┼────┤
     *        │TAB │ Q  │ W  │ E  │ R  │ T  │    │               │    │ Y  │ 7  │ 8  │ 9  │ -  │ \  │
     *        ├────┼────┼────┼────┼────┼────┼────┤               ├────┼────┼────┼────┼────┼────┼────┤
     *        │ESC │ A  │ S  │ D  │ F  │ G  │    │               │    │ H  │ 4  │ 5  │ 6  │ +  │ '  │
     *        ├────┼────┼────┼────┼────┼────┼────┤               ├────┼────┼────┼────┼────┼────┼────┤
     *        │LSFT│ Z  │ X  │ C  │ V  │ B  │    │               │    │ N  │ 1  │ 2  │ 3  │ ENT│RSFT│
     *        ├────┼────┼────┼────┼────┼────┴────┘               └────┴────┼────┼────┼────┼────┼────┤
     *        │MO 2│ `  │CAPS│ ←  │ →  │                                   │ ↑  │ ↓  │ .  │ ]  │MO 2│
     *        └────┴────┴────┴────┴────┘                                   └────┴────┴────┴────┴────┘
     *
     *                          ┌────┬────┐               ┌────┬────┐
     *                          │LGUI│LALT│               │RCTL│RGUI│
     *                          └────┴────┘               └────┴────┘
     *                     ┌────┬────┐┌────┐         ┌────┐┌────┬────┐
     *                     │    │    ││HOME│         │PGUP││    │    │
     *                     │ SPC│MO 2│├────┤         ├────┤│BSPC│ 0  │
     *                     │    │    ││ END│         │PGDN││    │    │
     *                     └────┴────┘└────┘         └────┘└────┴────┘
     */
    keypad {
      display-name = "Kp";
      bindings = <
        &kp EQUAL &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &trans                                                           &mo 3 &kp N6 &kp KP_NUM &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS
        &kp TAB   &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                            &none &kp Y  &kp KP_N7  &kp KP_N8    &kp KP_N9     &kp KP_MINUS    &kp BSLH
        &esc_ctrl LCTRL ESC &hml LGUI A &hml LALT S &hml LCTRL D &hml LSHFT F &kp G  &none           &kp LGUI   &kp LALT &kp RCTRL &kp RGUI            &none &kp H  &hmr RSHFT KP_N4 &hmr RCTRL KP_N5 &hmr RALT KP_N6 &hmr RGUI KP_PLUS &kp SQT
        &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                            &kp HOME &kp PG_UP                           &kp N  &kp KP_N1  &kp KP_N2    &kp KP_N3     &kp KP_ENTER    &kp RSHFT
        &mo 2     &kp GRAVE &kp CAPS &kp LEFT &kp RIGHT                &kp SPACE &mo 2  &kp END  &kp PG_DN &kp BSPC  &kp KP_N0              &kp UP     &kp DOWN     &kp KP_DOT    &kp RBKT        &mo 2
      >;
    };

    /*
     * Layer 2: Function (Fn)
     *
     *        ┌────┬────┬────┬────┬────┬────┬────┐               ┌────┬────┬────┬────┬────┬────┬────┐
     *        │ F1 │ F2 │ F3 │ F4 │ F5 │ F6 │TG 1│               │MO 3│ F7 │ F8 │ F9 │F10 │F11 │F12 │
     *        ├────┼────┼────┼────┼────┼────┼────┤               ├────┼────┼────┼────┼────┼────┼────┤
     *        │▼▼▼ │ ~  │ [  │ ]  │ {  │ }  │    │               │    │ -  │ +  │ ↑  │▼▼▼ │▼▼▼ │▼▼▼ │
     *        ├────┼────┼────┼────┼────┼────┼────┤               ├────┼────┼────┼────┼────┼────┼────┤
     *        │▼▼▼ │▼▼▼ │ <  │ >  │ (  │ )  │    │               │    │ ←  │ ↓  │ ↑  │ →  │▼▼▼ │▼▼▼ │
     *        ├────┼────┼────┼────┼────┼────┼────┤               ├────┼────┼────┼────┼────┼────┼────┤
     *        │▼▼▼ │▼▼▼ │▼▼▼ │▼▼▼ │▼▼▼ │▼▼▼ │    │               │    │▼▼▼ │▼▼▼ │▼▼▼ │▼▼▼ │▼▼▼ │▼▼▼ │
     *        ├────┼────┼────┼────┼────┼────┴────┘               └────┴────┼────┼────┼────┼────┼────┤
     *        │▼▼▼ │▼▼▼ │▼▼▼ │▼▼▼ │▼▼▼ │                                   │▼▼▼ │▼▼▼ │▼▼▼ │▼▼▼ │▼▼▼ │
     *        └────┴────┴────┴────┴────┘                                   └────┴────┴────┴────┴────┘
     *
     *                          ┌────┬────┐               ┌────┬────┐
     *                          │▼▼▼ │▼▼▼ │               │▼▼▼ │▼▼▼ │
     *                          └────┴────┘               └────┴────┘
     *                     ┌────┬────┐┌────┐         ┌────┐┌────┬────┐
     *                     │    │    ││▼▼▼ │         │▼▼▼ ││    │    │
     *                     │▼▼▼ │▼▼▼ │├────┤         ├────┤│▼▼▼ │▼▼▼ │
     *                     │    │    ││▼▼▼ │         │▼▼▼ ││    │    │
     *                     └────┴────┘└────┘         └────┘└────┴────┘
     *
     * ▼▼▼ = transparent/pass-through from base layer
     */
    fn {
      display-name = "Fn";
      bindings = <
        &kp F1    &kp F2    &kp F3       &kp F4       &kp F5       &kp F6 &tog 1                                           &mo 3 &kp F7   &kp F8     &kp F9   &kp F10 &kp F11 &kp F12
        &trans    &kp TILDE &kp LBKT     &kp RBKT     &kp LBRC     &kp RBRC  &none                                           &none &kp MINUS   &kp PLUS     &kp UP   &trans  &trans  &trans
        &trans    &trans    &kp LT       &kp GT       &kp LPAR     &kp RPAR  &none        &trans &trans &trans &trans        &none &kp LEFT &kp DOWN   &kp UP   &kp RIGHT &trans  &trans
        &trans    &trans    &trans       &trans       &trans       &trans                      &trans &trans                     &trans   &trans     &trans   &trans  &trans  &trans
        &trans    &trans    &trans       &trans       &trans                     &trans &trans &trans &trans &trans &trans              &trans     &trans   &trans  &trans  &trans
      >;
    };

    /*
     * Layer 3: Mod (System/Control)
     *
     *        ┌────┬────┬────┬────┬────┬────┬────┐               ┌────┬────┬────┬────┬────┬────┬────┐
     *        │    │BT 0│BT 1│BT 2│BT 3│BT 4│    │               │▼▼▼ │    │    │    │    │    │    │
     *        ├────┼────┼────┼────┼────┼────┼────┤               ├────┼────┼────┼────┼────┼────┼────┤
     *        │    │    │    │    │    │    │BOOT│               │BOOT│    │    │    │    │    │    │
     *        ├────┼────┼────┼────┼────┼────┼────┤               ├────┼────┼────┼────┼────┼────┼────┤
     *        │STDO│    │    │    │    │    │    │               │    │ BAT│    │    │    │    │    │
     *        ├────┼────┼────┼────┼────┼────┼────┤               ├────┼────┼────┼────┼────┼────┼────┤
     *        │    │    │    │    │ VER│    │    │               │    │    │    │    │    │    │    │
     *        ├────┼────┼────┼────┼────┼────┴────┘               └────┴────┼────┼────┼────┼────┼────┤
     *        │    │    │    │    │    │                                   │BL+ │BL- │    │    │    │
     *        └────┴────┴────┴────┴────┘                                   └────┴────┴────┴────┴────┘
     *
     *                          ┌────┬────┐               ┌────┬────┐
     *                          │    │    │               │    │BTCR│
     *                          └────┴────┘               └────┴────┘
     *                     ┌────┬────┐┌────┐         ┌────┐┌────┬────┐
     *                     │    │    ││    │         │    ││    │    │
     *                     │    │    │├────┤         ├────┤│BLTG│RGBT│
     *                     │    │    ││    │         │    ││    │    │
     *                     └────┴────┘└────┘         └────┘└────┴────┘
     *
     * Legend:
     * BT 0-4: Bluetooth profile select (0-4)
     * BOOT: Enter bootloader mode
     * STDO: Studio unlock
     * BTCR: Bluetooth clear
     * BAT: Show battery status
     * VER: Display firmware version
     * BL+/BL-: Backlight increase/decrease
     * BLTG: Backlight toggle
     * RGBT: RGB underglow toggle
     */
    mod {
      display-name = "Mod";
      bindings = <
        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                     &trans                 &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none        &none        &bootloader                                                               &bootloader            &none        &none        &none        &none &none &none
        &studio_unlock &none        &none        &none        &none        &none        &none                   &none &none &bt BT_CLR &none                      &stp STP_BAT &none        &none        &none        &none &none &none
        &none &none        &none        &none        &macro_ver   &none                                      &none &none                                                        &none        &none        &none        &none &none &none
        &none &none        &none        &none        &none                                       &none &none &none &none      &bl BL_TOG &rgb_ug RGB_TOG                                     &bl BL_INC   &bl BL_DEC   &none &none &none
      >;
    };
    extra1 { 
      display-name = "Red";    
      status = "reserved";
    };

    extra2 { 
      display-name = "Purple";    
      status = "reserved";
    };

    extra3 { 
      display-name = "Cyan";    
      status = "reserved";
    };

    extra4 { 
      display-name = "Yellow";    
      status = "reserved";
    };
  };
};
